{% for n in range(0, _argocd.server.replicas ) %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-argocd-redis-ha-server-{{ n }}
  namespace: {{ _argocd.namespace }}
spec:
  storageClassName: {{ _argocd.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{% endfor %}

