{% for n in range(0, _minio.replica) %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: export-minio-{{ n }}
  namespace: {{ _minio.namespace }}
spec:
{% if _minio.directpv == true %}
  storageClassName: {{ _minio.persistence.directpv_storage_class }}
{% else %}
  storageClassName: {{ _minio.persistence.storage_class }}
{% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{% endfor %}

