{% for h in groups["workers"] %}
{% for n in range(0, total_grafana_containers|int) %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-pv-{{ hostvars[h]['ansible_hostname'] }}-{{ n }}
  namespace: {{ _grafana.namespace }}
spec:
  capacity:
    storage: 15Gi
  # volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
{% if _minio.directpv == true %}
  storageClassName: {{ _grafana.directpv_storage_class }}
{% else %}
  storageClassName: {{ _grafana.storage_class }}
{% endif %}
  local:
    path: {{ _grafana.storage_path }}-{{ n }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ hostvars[h]['ansible_hostname'] }}
{% endfor %}
{% endfor %}
