---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana
  namespace: {{ _grafana.namespace }}
spec:
{% if _minio.directpv == true %}
  storageClassName: {{ _grafana.directpv_storage_class }}
{% else %}
  storageClassName: {{ _grafana.storage_class }}
{% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
