---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: open-webui-pipelines
  namespace: {{ _deepseek.namespace }}
spec:
  storageClassName: {{ _deepseek.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-open-webui-postgres-0
  namespace: {{ _deepseek.namespace }}
spec:
  storageClassName: {{ _deepseek.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data-open-webui-redis-master-0
  namespace: {{ _deepseek.namespace }}
spec:
  storageClassName: {{ _deepseek.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data-open-webui-redis-replicas-0
  namespace: {{ _deepseek.namespace }}
spec:
  storageClassName: {{ _deepseek.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data-open-webui-redis-replicas-1
  namespace: {{ _deepseek.namespace }}
spec:
  storageClassName: {{ _deepseek.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data-open-webui-redis-replicas-2
  namespace: {{ _deepseek.namespace }}
spec:
  storageClassName: {{ _deepseek.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi

